#topnav {
	background-color: #353837;
	margin-bottom:80px;
}

#footer {
	background-color: #E2E2E2;
	margin-top:220px;
	padding:20px 0px;
	font-size:0.9em;	
	color:#777777 !important;
}

.uk-container{
	color:#404040;
	font-size:1.1em;
}

#topnav a{
	color:#fff;
}

#logo{
	height:55px;
	padding:2px 0;
}

table#events th {
	font-weight:bold;
	color: #182825;
}



ul.uk-navbar-nav li.active{
	border-top:1px solid #7D8381;
	border-bottom:1px solid #7D8381;
	background-color:#565B5A;
}

.uk-navbar-item, .uk-navbar-nav > li > a{
	font-size:1.1em;
}


div.content-panel{
	padding:15px;
	font-size:1.1em;
	color:#202020;
	background-color:#F1F3F6;
	border:1px solid #ddd;
}

table.app_table tr.app_table th{
	font-size:1.1em;
	color:#383838;
}

table.app_table tr.app_table td{
	font-size:1em;
	color:#484848;
	}




